:root {
    --primary-color: #020BFF;
    --second-color: #0A0B5C;
    --blue-color: #0099ff;
    --black-color: #000000;
    --semi-black: #1e1e1e;
    --white-color: #ffffff;
  }


  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.contact-link {
  border: 1px solid white;
  box-shadow: #909090 0px 3px 10px;
  background: var(--primary-color);
  background: -webkit-linear-gradient(to right, var(--blue-color), var(--primary-color));
  background: linear-gradient(to right, var(--blue-color), var(--primary-color));
  color:white;
  width: fit-content;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 350px;
  height: 60px;
}

  .contact-link:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #5c0a4968;
  }